* {
    box-sizing: border-box;
}

header {
    float: left;
    a {
        padding: 10px;
        display: inline-block;
        text-align: right;
    }
    
}

body {
    background-image: url("/home/yaro/FrontEnd/Mock1/images/fon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1800px;
    height: 857px;
}


.header_description {
        padding-top: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        columns: 2;
        img {
            margin-right: 200px;
            width: 300px;
        }
    
}

.header_description_text {
    margin-left: 200px;
    line-height: 1.5;
}

.header_description_philosophy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    padding-top: auto;
    float: left;
    width: 520px;
    img {
        position: absolute;
        width: 300px;
        float: left;
        margin-left: 1100px;
        margin-top: 200px;
    }
}

.header_description_philosophy_text{
    position: absolute;
    width: 520px;
}

.Triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 250px 1800px;
    border-color: transparent transparent #02CCD6 transparent;
    padding-top: 750px;
}

.header_team {
    background-color: #02CCD6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    h2 {
        padding-left: 280px;
        color: white;
        margin: 0%;           
    }

img#bs {
        float: right;
    }   

.footer {
    background-image: url("/home/yaro/FrontEnd/Mock1/images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h3 {
    text-transform: uppercase;
}

p {
    font-family: "Times New Roman", Times, serif;
}

a:hover {
    background-color: white;
    color: #02CCD6;
}