.block1 {
	background-color: #ADD8E6
	width:15%;
	margin: 10px;
}
.block2 {
	border-style: solid;
	border-color: #00FFFF;
}
.block3 {
	text-align: left;
	float: left;
	background-color: #00FFFF;
	font-size: 12px;
	border-radius: 4px;
	margin: 5px;
}
button {
	background-color: #00FFFF;
	font-size: 12px;
	border-radius: 4px;
	text-align: right;
	float: right;

}
